/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url("https://fonts.cdnfonts.com/css/cartoon-free");

html,
body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    /* font-family: "Madimi One", sans-serif; */
    font-family: 'CARTOON FREE', sans-serif;
    background-image: url("7c253decec25ca082a8d6dacb22fab67.mp4");
}

.wrapper{
    width: 1024px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}
.card-container {
    display: flex;
}

.left {
    flex: 1;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) ;
    background-color: #453347;
    color: #fff;
    padding: 30px;
    position: relative;
    overflow: hidden;
}
.right {
    background-color: #a78faa;
    display: flex;
    flex: 1;
    height: 460px;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #453347;
    color: #fff;
    padding: 30px;
    position: relative;
    overflow: hidden;
}
.left {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.left p{
    font-size: 0.9rem;
}
.left-container{
    height: 50%;
    width: 80%;
    text-align: center;
    line-height: 22px;
}
.left-container > h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
/* .right-container{
    padding: 30px;
    width: 70%;
    height: 80%;
} */
.right-container > h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
input,
textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
}
input:focus,
textarea{
    outline: 1px solid #a78faa;
}
button{
    border-radius: 20px;
    border: 1px solid #a78faa;
    color: #444;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 45px;
    text-transform: uppercase;
    transition: transform 80ms ease-out;
}
button:hover{
    opacity: 0,7;
}

@media only screen and(max-width: 600px){
    
    
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*
* menu
*/

nav {
    background-color: #453347;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    /* unpad */
    display: flex;
    
}

/* nav .logo{
    font-family: 'CARTOON FREE', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
} */


nav > .wrapper{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
}


.menu {
    width: 50%;
    /* border: 1px solid; */
}

.menu > ul {
    display: flex;
    list-style-type: none;
    /* margin: 0px;
    padding: 0px; */
    width: 100%;
    justify-content: space-between;
    font-size: 0.8em;
}

.menu > ul > li > a {
    text-decoration: none;
    color: #fff;
}

.menu > ul > li > a:hover{
    color: #a78faa;

}
.menu > ul:last-of-type{
    padding-bottom: 8px;
}
/* hamburger menu */
.menu-toggle{
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #a78faa;
    border-radius: 3px;
    display: none;
}

/* responsive breakpoint */
/* ukuran tablet */
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: wrap;
    }
    .menu > ul {
        flex-direction: column;
    }
    .menu-toggle span {
        display: flex;
    }
    .menu-toggle{
        display: flex;
    }
    .menu > ul.hidden{
        display: none;
    }
}
/* ukuran mobbile */
/* @media screen and (max-width: 576px) {
    .menu > ul {
        width: 40%;
    }
    .menu > ul {
        display: none;
    }
    .menu-toggle span {
        display: flex;
    }
} */

.logo {
    display: flex;
    align-items: center;
}

.logo > img {
    height: 45px;
}

/*
* hero / jumbotron
*/

header {
    /* background: url("pexels-fwstudio-132204.jpg") ; */
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'CARTOON FREE', sans-serif;
                                                
    /* font-family: "Kanit", sans-serif; */
    letter-spacing: 1.5px;
    /* text-shadow: 0 0 4px #000; */
}

.bg-video{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
/* .header-opacity {
    background-color: #1B262C;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
} */

.header-jumbotron > h4 {
    color: #fff;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #453347;
}

.header-jumbotron > h5 {
    color: #fff;
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
    line-height: 2.3rem;
    -webkit-text-stroke: 0.6px #453347;
}
/* header, footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
} */

/* section {
    margin: 20px 0;
}

/* Responsiveness */
/* @media (max-width: 768px) {
    /* Gaya untuk layar yang lebih kecil */
/* } */
